tqdm
git+https://github.com/openai/CLIP.git
torch
torchvision
ultralytics==8.0.229
GPUtil
matplotlib==3.7.4
numpy==1.24.4
opencv_contrib_python==4.6.0.66
opencv_python==4.6.0.66
opencv_python_headless==4.9.0.80
paddlepaddle==2.6.1
paddleocr==2.6.1.3
pandas==2.0.3
Pillow==10.4.0
Requests==2.32.3
scikit_learn==1.3.2
sentence_transformers==2.3.0
scikit-image
